{% extends 'base.html' %}
{% block title %}All Restaurants | Restaurant Guide{% endblock %}

{% block body %}
        <div class="header">
            <div class="logo" class="header-option">Restaurant<span id="greenGuide">Guide</span> </div>
            <div class="header-option">Charlotte</div>
            <form action="/get_restaurants">
                <input type="text" name="location" placeholder="Where to?">
                <button type="submit">Go</button>
            </form>
        </div>

    <div id="rest-info">
      
        
    </div> 

    <div id="rest-reviews">

    </div>
    <script src="/static/js/showRestDetails.js"></script>
{% endblock %}
