{% extends 'base.html' %}
{% block title %}Restaurant Guide Login{% endblock %}

{% block body %}

  <p>Sign In</p>
  <p>New to Reataurant Guide? <a href="/sign_up" id="red-signup">Sign Up</a></p>

  <form action="/sign_in" method="POST">
    <p>
      <label for="email-login">Email</label><br>
      <input type="text" name="email" id="email-login">
    </p>

    <p>
      <label for="password-login">Password</label><br>
      <input type="text" name="password" id="password-login">
    </p>

    <p>
      <input type="submit" value="Sign In" id="signin-button">
    </p>
  </form>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
{% endblock %}